* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 100px auto;
}

.wrapper {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    min-height: 200px;
    background-color: #e6fff2;
    text-align: center;
}

#data-input {
    margin: 0;
    padding: 5px;
}